TELEGRAM_TOKEN="8794005734:AAEaT......................."
WEBHOOK_URL="https://pygram.xnv.biz.id/webhook"

# Keamanan Internal & Eksternal
AUTH_TOKEN="AAEaT_oKgX9mF2T8D0iT_2br1flpqsMLSi8"
ADMIN_PASSWORD="super_secret_admin_pass"

# Port (Jika dijalankan lokal, default 3000)
PORT=3000

# String Koneksi PostgreSQL (Ambil dari Dashboard Neon.tech)
# Contoh: postgresql://[user]:[password]@[host]/[dbname]?sslmode=require
DATABASE_URL="postgresql://neondb_owner:xxxxxxxxxxxx@ep-cool-butterfly-12345.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"